.root {
  display: block;
  padding-block: var(--space-5);
  padding-inline: var(--space-4);
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  inline-size: 3rem;
  block-size: 3rem;
  color: var(--color-accent-gold);
}

.icon > svg {
  inline-size: 100%;
  block-size: 100%;
}
