.surface {
  display: block;
  position: relative;
}

.surface[data-variant='base'] {
  background-color: var(--color-surface-base);
}

.surface[data-variant='raised'] {
  background-color: var(--color-surface-raised);
}

.surface[data-variant='sunken'] {
  background-color: var(--color-surface-sunken);
}

.surface[data-border='line'] {
  border: var(--border-thin);
}

.surface[data-border='gold'] {
  border: 1px solid var(--color-line-gold);
}
