/* stylelint-disable plugin/no-unresolved-module */
@font-face {
  font-weight: 100;
  font-family: Barlow;
  font-style: normal;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-Thin.ttf") format("truetype");
}

@font-face {
  font-weight: 100;
  font-family: Barlow;
  font-style: italic;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-weight: 200;
  font-family: Barlow;
  font-style: normal;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-weight: 200;
  font-family: Barlow;
  font-style: italic;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-weight: 300;
  font-family: Barlow;
  font-style: normal;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-Light.ttf") format("truetype");
}

@font-face {
  font-weight: 300;
  font-family: Barlow;
  font-style: italic;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-LightItalic.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: Barlow;
  font-style: normal;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: Barlow;
  font-style: italic;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-Italic.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: Barlow;
  font-style: normal;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-Medium.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: Barlow;
  font-style: italic;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: Barlow;
  font-style: normal;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-SemiBold.ttf") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: Barlow;
  font-style: italic;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: Barlow;
  font-style: normal;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: Barlow;
  font-style: italic;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-weight: 800;
  font-family: Barlow;
  font-style: normal;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-weight: 800;
  font-family: Barlow;
  font-style: italic;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-weight: 900;
  font-family: Barlow;
  font-style: normal;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-Black.ttf") format("truetype");
}

@font-face {
  font-weight: 900;
  font-family: Barlow;
  font-style: italic;
  font-display: swap;
  src: url("../../../assets/fonts/barlow/Barlow-BlackItalic.ttf") format("truetype");
}

:root {
  width: 100%;
  height: 100%;

  font-size: 16px;
  font-family: Barlow, sans-serif;

  * {
    box-sizing: border-box;
    min-width: 0;

    font-family: Barlow, sans-serif;

    user-select: none;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  :global(#root) {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  // Colors:
  --color1: #232323;
  --color2: #d9d4d4;
  --color3: #e78d00;
  --color4: #6f88c7;
  --color5: #000;
  --color6: #fff;
  --color7: #d1d1d1;
  --color8: #535353;
  --color9: #1e1e1e;
  --color10: #07488d;
  --color11: #98faf8;
  --color12: #b323b3;
  --color13: #0485f5;
  --color14: #cf5004;
  --color15: #6b6b6b;
  --color16: #f7f7f7;
  --color17: #049108;
  --color18: #2252c1;
  --color19: #1d1def;
  --color-transparent: transparent;

  // Offsets:
  --offsetZero: 0;
  --offsetXS: 1px;
  --offsetS: 0.5rem;
  --offsetM: 1rem;
  --offsetL: 1.5rem;
  --offsetXL: 2rem;
  --offsetXXL: 4rem;

  // Font sizes:
  --fontS: 1rem;
  --fontM: 1.2rem;
  --fontL: 1.4rem;

  // Font families:
  --fontFamilyCode: "Fira code", "Fira Mono", monospace;

  // Line heights:
  --lineHeightS: 1.4rem;
  --lineHeightM: 1.5rem;
  --lineHeightL: 1.6rem;

  // Border radius:
  --borderRadius: 4px;
  --borderRadiusCircle: 50%;

  // Transitions:
  --transitionSlow: 600ms;
  --transitionNormal: 300ms;

  // z-index: {
  --zIndexZero: 0;
  --zIndexS: 1;

  // Border width
  --borderWidth: 1px;

  // Custom height
  --heightHeader: 3.75rem; // 60px

  // Custom z-index:
  --zIndexSideMenu: 1;
  --zIndexSideMenuOpened: 2;
  --zIndexHeader: 3;
  --zIndexTooltip: 4;
}
